# =========================
# Node / NestJS
# =========================

node_modules/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Coverage
coverage/
.nyc_output/

# Environment files
.env
.env.*
!.env.example

# Temp files
.temp/
.tmp/

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Diagnostic reports
report.*.json


# =========================
# Flutter / Dart
# =========================

.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# Generated docs
doc/api/

# Flutter generated
**/ios/Flutter/.last_build_id

# Android
android/.gradle/
android/local.properties
android/app/build/

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*

# Flutter symbols/maps
app.*.symbols
app.*.map.json


# =========================
# IDEs / Editors
# =========================

.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.iml
*.ipr
*.iws
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db


# =========================
# Misc
# =========================

*.class
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history/
.svn/
.swiftpm/
migrate_working_dir/

